docutils==0.18.1,<0.21
linkify-it-py
myst-parser
pillow
pytorch_sphinx_theme2 @ git+https://github.com/pytorch/pytorch_sphinx_theme.git@pytorch_sphinx_theme2#egg=pytorch_sphinx_theme2
sphinx==7.2.6
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-design==0.6.1
sphinx-gallery==0.14.0
sphinx-sitemap==2.7.1
sphinxcontrib-mermaid==1.0.0
sphinxcontrib.katex==0.9.10
sphinxext-opengraph
torch
