name: Test Documentation

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  docs-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: true

      - name: Create virtual environment
        run: |
          uv venv --python 3.12

      - name: Install docs requirements and project
        run: |
          source .venv/bin/activate
          uv pip install -e .[docs]

      - name: Build documentation
        run: |
          source .venv/bin/activate
          cd docs/
          make html
          make linkcheck

      - name: Upload built docs
        uses: actions/upload-artifact@v6
        with:
          name: docs-html
          path: site
